* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 18px;
    margin-top: 32px;
}
ul {
    list-style: none;
}
.text--s {
    font-size: 14px;
}
.boder--top {
    border-top: 1px solid #ccc;
}
.title--color {
    color: #f807a8;
    text-align: center;

}

/* NAV  */
/* NAV  */
/* NAV  */
body {
    display: flex;
}
.app {
    margin:0 10%;
    width: 70%;

}
.nav {
 width: 300px;
 height: 100px;
 margin: 100px 0 0 32px;
 background-color: black;
}
.nav__list {
    display: fixed;
}
.nav__list-item {

    text-align: center;

}
.nav__list-item-link:hover {
    background-color: #ccc;
cursor: pointer;
    color: black;
}
.nav__list-item-link {
    width: 100%;
    padding: 8px;
    display: block;
    font-size: 32px;
    background-color: black;
    color: white;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
}
 /* HEADER  */
 /* HEADER  */
 .heading {
    flex: 1;
    text-align: center;
    margin: 32px 16px 32px 32px;
    display: none;
}
.title {
    margin-bottom: 12px;
}
.header__profile {
    margin-bottom: 32px;
}
.introduction {
    padding-top: 16px;
    display: flex;
    justify-content: center;
}
.about {
    margin-top: 32px;
    width: calc(100% /3);
}
.avatar {
    padding:12px;
    height: 300px;
    width: auto;
}
.details {
    margin-top: 32px;
    width: calc(100% /3);

}
.content {
    text-align: left;
    margin: 16px 8px;
}
/* ARTICLE  */
/* ARTICLE  */
article {
    flex: 1;
    background-color: #f3efe0;
    margin: 32px 0;
    padding: 16px;
    display: none;
}
.educations {
    padding-top: 32px;
    
}
.educations--title {
    color: #22a3a0;

}
.educations__info {
    padding-top: 32px;
    display: flex;
}
.educations__info--time {
    min-width: 40%;
}
.content-detail {
    margin: 16px 0;
}


/* MORE  */
/* MORE  */
/* MORE  */

.more {
    display: none;

}

.abilities__skills {
    padding: 32px 0;
    color: #22a3a0;
    
}
.skill__form {
    display: flex;
    justify-content:space-between;
    gap: 32px;
}
.skills__list {
    width: 100%;
    padding: 0 16px;
}
.skills__item {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}
.skills__item:hover {
    background-color: rgba(204, 204, 204, 0.459);
}
 /* RATING  */
 /* RATING  */
 /* RATING  */

 .fa-regular {
    opacity: 0.2;
 }
 .fa-regular:hover {
    cursor: pointer;
 }
.rating--active {
    color:#0cd1d1;
    opacity: 1;
}

/* FOOTER SKILL  */
/* FOOTER SKILL  */
/* FOOTER SKILL  */

.skill__footer{
    text-align: center;
    margin: 32px 0 ;
}
.skill__footer--span {
    opacity: .6;
}
.skill__footer--btn {
    display: block;
    margin: 16px auto;
    font-size: 18px;
    padding: 6px;
    color: #fff;
    background-color:#22a3a0;
    border: none;
    border-radius: 5px;
}
.skill__footer--btn:hover {
    cursor: pointer;
    opacity: .8;
}


footer {
    display: none;
    margin: 32px auto 0;
    height: 16px;
    width: 95%;
    background-color: aquamarine;
}

i {
    background-color: #22a3a0;
}

.show {
    display: block;
    animation-name: slidein;
    animation-duration: 1s;
}



@keyframes slidein {
    from {
      margin-left: 50%;
    }
  
    to {
      margin-left: 0%;
    }
  }